scipy==1.4.1
torchvision==0.9.0
torch==1.8.0
numpy
sklearn
git+https://github.com/PytorchLightning/pytorch-lightning-bolts.git@exps
git+https://github.com/PyTorchLightning/pytorch-lightning.git@master